PlatformIO_Project/.pio
PlatformIO_Project/.vscode/.browse.c_cpp.db*
PlatformIO_Project/.vscode/c_cpp_properties.json
PlatformIO_Project/.vscode/launch.json
PlatformIO_Project/.vscode/ipch
PlatformIO_Project/.vscode/extensions.json